.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0.9rem;
}

.details {
  width: 25rem;
}

.details from {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
